planetary-simulation/Coords
galaxy-simulation/Coords
cosmological-simulation/Coords
Moonglum-Manual.aux
Moonglum-Manual.log
Moonglum-Manual.tex
Utilities/Utilities.o
Utilities/XmlReader.o
galaxy-simulation/BlackHole.o
galaxy-simulation/DarkMatterHalo.o
galaxy-simulation/Galaxy.o
galaxy-simulation/Gas.o
galaxy-simulation/Star.o
planetary-simulation/ProtoplanetaryCloud.o
baseClasses/Universe.o
baseClasses/system.o
baseClasses/body.o
planetaryConfig.png
galaxyConfig.png
main.o
